{
  "arrowParens": "avoid",
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["**/*.html", "**/*.sql"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
